<div class="card-wrapper">
  <div class="inf-box">
    <div class="picture"></div>
    <div class="icons-wrapper">
      <div class="icon-box">
        <mat-icon>visibility</mat-icon>
        <span>1100</span>
      </div>
      <div class="icon-box">
        <mat-icon>favorite</mat-icon>
        <span>1100</span>
      </div>
      <div class="icon-box">
        <mat-icon>thumb_down</mat-icon>
        <span>1100</span>
      </div>
      <div class="icon-box">
        <mat-icon>comment</mat-icon>
        <span>1100</span>
      </div>
    </div>
    <p class="title">Kuji Podcast #21</p>
  </div>
  <button class="more-btn">more...</button>
</div>
