<div class="new-card-wrapper">
  <p class="title">Create new card</p>
  <form action="">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Img</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Link video</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <button class="create-card-btn">Create card</button>
</div>
