<div class="header-wrapper">
  <div class="search-wrapper">
    <a href="#" class="logo"><mat-icon>play_arrow</mat-icon></a>
    <div class="search-box">
      <input type="text" placeholder="What are you want to find out?">
      <button class="search-btn">search</button>
    </div>
    <button class="settings-btn"><mat-icon>filter_list</mat-icon></button>
  </div>
  <div class="user-wrapper">
    <span class="user-name">Your Name</span>
    <a href="" class="user-icon"><mat-icon>person</mat-icon></a>
  </div>
</div>
