<div class="big-card-wrapper">
  <button class="back-btn"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <div class="card-wrapper">
    <div class="card-img"></div>
    <div class="card-inf">
      <div class="card-main-inf">
        <p class="card-title">Kuji Podcast #20</p>
        <p class="card-date">Thursday, December 20, 2019</p>
      </div>
      <div class="card-description">
        <p class="description-title">Description:</p>
        <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, voluptate.</p>
      </div>
      <div class="card-icons">
        <div class="icon-box">
          <mat-icon>visibility</mat-icon>
          <span>1100</span>
        </div>
        <div class="icon-box">
          <mat-icon>favorite</mat-icon>
          <span>1100</span>
        </div>
        <div class="icon-box">
          <mat-icon>thumb_down</mat-icon>
          <span>1100</span>
        </div>
        <div class="icon-box">
          <mat-icon>comment</mat-icon>
          <span>1100</span>
        </div>
      </div>
    </div>
  </div>
</div>
