<div class="reg-wrapper">
  <p class="title">Registration</p>
  <form action="">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput >
    </mat-form-field>
  </form>
  <div class="btn-box">
    <button class="login-btn">Login</button>
    <button class="reg-btn">Registration</button>
  </div>
</div>
